/* Reset & base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 40px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  color: #1a0042;
}

/* Grid container */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Product cards */
.product-card {
  background-color: #1ca8c7;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}



.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.product-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.product-card button {
  background-color: #0077b6;
  color: rgb(1, 43, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.product-card button:hover {
  background-color: #023e8a;
}

